body {
  margin: 10% !important;
}

.todo-title {
  font-weight: bold !important;
  font-family: sans-serif !important;
  /* font-size: 70px; */
  color: #b35407 !important;
  letter-spacing: 1px !important;
  margin-bottom: 20px !important;
}